@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: hidden;
}

@layer components {
	.navigator {
		@apply text-gray-300 cursor-pointer hover:text-gray-200;
	}
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171717;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
